.options {
  *zoom: 1;
}

.options:before,
.options:after {
  display: table;
  line-height: 0;
  content: "";
}

.options:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.search-wrapper {
  position: relative;
  width: 300px;
  margin: 10px 0 5px 0;

  .search-icon {
    background: url(/console/assets/icons/globals-s54b9a09d1f.png) no-repeat;
    position: absolute;
    background-position: 0 -377px;
    top: 8px;
    right: 0px;
    width: 20px;
    height: 20px;
  }

}