.options {
  *zoom: 1;
}

.options:before,
.options:after {
  display: table;
  line-height: 0;
  content: "";
}

.options:after {
  clear: both;
}

.left {
  float: left;
}

.toggle-advanced a {
  float: right;
  margin-top: 5px;
}

.search-wrapper {
  position: relative;
  width: 300px;
  margin: 10px 0 5px 0;

  .search-icon {
    background: url(/console/assets/icons/globals-s54b9a09d1f.png) no-repeat;
    position: absolute;
    background-position: 0 -377px;
    top: 8px;
    right: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

}

.basic {
  display: none;
}

.advanced-options {
  display: none;

  .advanced-option {
    margin-top: 10px;
  }

  .assignee-label {
    display: inline;
  }

}

select {
  border: 1px solid lightGrey;
}

input[type=date] {
  width: 103px;
}

.results {
  ul {
    margin-left: 0;
  }
}

.searching {
  display: none;
}